.body{
    position: relative;
}

.body form{
    background-color: aqua;
    padding: 40px;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 100px;
    float: right;
    padding-right: 0px;
}

.body #formulario-registro .form-block {
    width: 100%;
    margin-bottom: 15px;
}

/*las cajas de texto*/
.body #formulario-registro .form-block .form-control {
    display: block;
    height: 30px;
    font-size: 16px;
    width: 55%;
    padding: 5px 10px;
    /* background-color: brown; */
}

.cerrado {
    margin-top: -50px;
}

.cerrado i {
    float: right;
    margin-top: -70px;
    margin-right: 30px;
}


.row {
    float: left;
    margin-left: 0px;
}

label {
    float: left;
    margin-left: -10px;
    font-size: 20px;
    margin-right: 10px;
    /* background-color: blue; */
}


/*Validaciones*/
.is-invalid {
    border: 1px solid #ff0000a6;
}
    
.text-danger {
    display: block;
    margin-left: 5%;
    padding-top: 2px;
    color: #ff0000a6;
}