<div class="body">
    <div class="acceder">
        <form id="formulario-registro">
            <div class="cerrado">
                <h4>Acceder</h4>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="form-block" id="grupo-usuario-email">
                <input 
                type="text" 
                id="usuario" 
                class="form-control" 
                placeholder="Usuario o Email">
            </div>
            <div class="form-block" id="grupo-contraseña">
                <input 
                type="text" 
                id="contraseña" 
                class="form-control" 
                placeholder="Contraseña">
            </div>
            <div class="form-block" id="grupo-Acceder">
                <button >Acceder</button>
            </div>
            <div class="form-block" id="grupo-Enviar">
                <p>¿No tienes cuenta?</p>
                <button >Registrate Ahora</button>
            </div>
        </form>
    </div>
</div>
