.body{
    position: relative;
}

.body form{
    background-color: aqua;
    padding: 50px;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 100px;
    float: right;
    padding-right: 0px;
}

.body #formulario-registro .form-block {
    width: 100%;
    margin-bottom: 15px;
}

.body #formulario-registro .form-block p{
    font-size: 20px;
    float: left;
    margin-left: -20px;
    margin-right: 20px;
}

.body #formulario-registro .form-block .form-control {
    display: block;
    height: 30px;
    font-size: 16px;
    width: 70%;
    padding: 5px 10px;
}


.cerrado {
    margin-top: -50px;
}

.cerrado i {
    float: right;
    margin-top: -70px;
    margin-right: 30px;
}

button {
    /* background-color: blue; */
    margin-right: 15px;
}
