.cabecera {
    overflow: hidden;
    background-color: blue;
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
}

.cabecera a{
    /* background-color: aqua; */
    float: right;
    text-decoration: none;
}

a{
    color: white;
    margin-right: 25px;
}

.izquierda {
    float: left;
}

.buscador {
    float: right;
}

/* .cabecera a:hover {
    background-color: aqua;
} */

.active {
    background-color: rgb(139, 139, 255);
    
}

