<div class="cabecera">
    
    <div class="izquierda">
        <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['foros']" routerLinkActive="active">Foros 
            <select name="" id="">
                <option><a href="../foros/foros.component.html">Foros</a></option>
                <option><a href="">Publicaciones</a></option>
                <option><a href="">Detalle</a></option>
            </select></a>
        <a [routerLink]="['novedades']" routerLinkActive="active">Novedades</a>
        <a [routerLink]="['usuarios']" routerLinkActive="active">Usuarios</a>
    </div>

    <div class="buscador">
        <!-- <input type="text" name="buscar" placeholder="busquedas..."> -->
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <a [routerLink]="['registro']" routerLinkActive="active">Registro</a>
    <a [routerLink]="['acceder']" routerLinkActive="active">Acceder</a>
</div>
